{{title}}
===

[![Build Status](https://travis-ci.org/{{library}}.svg?branch=master)](https://travis-ci.org/{{library}})
[![Scrutinizer Code Quality](https://scrutinizer-ci.com/g/{{library}}/badges/quality-score.png?b=master)](https://scrutinizer-ci.com/g/{{library}}/?branch=master)
[![Code Coverage](https://scrutinizer-ci.com/g/{{library}}/badges/coverage.png?b=master)](https://scrutinizer-ci.com/g/{{library}}/?branch=master)
[![Packagist Stable Version](https://img.shields.io/packagist/v/{{library}}.svg)](https://packagist.org/packages/{{library}})
[![Packagist License](https://img.shields.io/packagist/l/{{library}}.svg)](https://packagist.org/packages/{{library}})

Installation
---

    composer require {{library}}
